pandas # Data frames
numpy # Matrix operations
openpyxl # working with xlsx files
xlrd # Working with xls files
seaborn # charts
plotly # Charting
matplotlib # Charting
pyodbc # Database connections
requests # Web requests
openai # GenAI
#keras # ML
scikit-learn # ML
scipy # Data interpolation
transformers # Ai / hugging face
torch # Deep learning


# optional:
blpapi # bloomberg